<table class="table table-dark table-hover">
  <thead class="text-center">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NAME</th>
    <th scope="col">SURNAME</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">PROFILE SUMMARY</th>
    <th scope="col">ROLE</th>
    <th scope="col">PAY RATE</th>
  </tr>
  </thead>
  <tbody class="text-center">
  <tr *ngFor="let staffMember of staffMembers">
    <td><a [routerLink]="['/staffs', staffMember.id]">{{staffMember.id}}</a></td>
    <td>{{staffMember.name}}</td>
    <td>{{staffMember.surname}}</td>
    <td>{{staffMember.address}}</td>
    <td>{{staffMember.profileSummary}}</td>
    <td>{{staffMember.role}}</td>
    <td>{{staffMember.payRate}}</td>
  </tr>
  </tbody>
</table>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-large btn-danger" [routerLink]="['']">
        <i class="icon-flag icon-2x pull-left"></i> HOME</a>
    </div>
  </div>
</div>
