<table class="table table-dark">
  <thead class="text-center">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NAME</th>
    <th scope="col">SURNAME</th>
    <th scope="col">NHS NUMBER</th>
    <th scope="col">HEALTH STATUS</th>
    <th scope="col">HEALTH HISTORY</th>
  </tr>
  </thead>
  <tbody class="text-center">
  <tr *ngFor="let clientMember of clientMembers">
    <td>{{clientMember.id}}</td>
    <td>{{clientMember.name}}</td>
    <td>{{clientMember.surname}}</td>
    <td>{{clientMember.nhsNumber}}</td>
    <td>{{clientMember.healthStatus}}</td>
    <td>{{clientMember.healthHistory}}</td>
  </tr>
  </tbody>
  <tfoot></tfoot>
</table>
