<!--{
id: 3,
name: 'Thomas',
surname: 'Jenkins',
address: '28 march close, Sunningdale, Surrey',
profileSummary: 'T.Jenkins - Cool dude',
role: 'Director',
payRate: '450/hr'
},-->

<table class="table table-dark table-hover">
  <thead class="text-center">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NAME</th>
    <th scope="col">SURNAME</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">PROFILE SUMMARY</th>
    <th scope="col">ROLE</th>
    <th scope="col">PAY RATE</th>
  </tr>
  </thead>
  <tbody class="text-center">
  <tr *ngFor="let staffMember of staffMembers">
    <td>{{staffMember.id}}</td>
    <td>{{staffMember.name}}</td>
    <td>{{staffMember.surname}}</td>
    <td>{{staffMember.address}}</td>
    <td>{{staffMember.profileSummary}}</td>
    <td>{{staffMember.role}}</td>
    <td>{{staffMember.payRate}}</td>
  </tr>
  </tbody>
</table>
